body {
  width: 90%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: azure;
  width: 300px;
  padding: 2rem;
  box-shadow: 0rem 0rem 0.2rem 0rem rgb(32, 31, 31);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 15rem;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
  font-size: 25px;
  text-align: center;
}

.shorted {
  font-size: 18px;
}

.inputField {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

input {
  padding: 0.5rem;
  outline: none;
}

button {
  background-color: rgb(61, 61, 219);
  color: white;
  padding: 0.5rem;
  outline: none;
  margin-top: 8px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: rgb(38, 38, 255);
}

.shortened-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 13px;
}
